Repository cyberark/conjur, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations, @cyberark/security-architects, @conjurinc/security-architects, @conjurdemos/security-architects, @conjur-enterprise/conjur-security, @cyberark/quality-architects, @conjurinc/quality-architects, @conjurdemos/quality-architects, @conjur-enterprise/conjur-quality, @conjur-enterprise/r-d-developers

Validate k8s API CA expiration in status endpoint
  CHANGELOG.md
  app/domain/authentication/authn_k8s/validate_status.rb
  app/domain/util/open_ssl/x509/certificate.rb
  spec/app/domain/authentication/authn_k8s/validate_status_spec.rb
Owners: @conjur-enterprise/r-d-developers, @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Support configuring certificate extensions in x509 utility
  app/domain/util/open_ssl/x509/certificate.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Add integration test for k8s authenticator status
  ci/test_suites/authenticators_k8s/dev/policies/policy.template.yml
  ci/test_suites/authenticators_k8s/test_gke_entrypoint.sh
  cucumber/authenticators_k8s/features/status.feature
  cucumber/authenticators_k8s/features/step_definitions/status_steps.rb
  cucumber/authenticators_k8s/features/support/world.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Improve messaging and tests for explicitly declared YAML document/s
  gems/policy-parser/lib/conjur/policy/yaml/handler.rb
  gems/policy-parser/spec/errors/yaml/multiple-documents.yml
  gems/policy-parser/spec/round-trip/yaml/empty-document-with-comment.expected.yml
  gems/policy-parser/spec/round-trip/yaml/empty-document-with-comment.yml
  gems/policy-parser/spec/round-trip/yaml/empty-document.yml
  gems/policy-parser/spec/round-trip/yaml/empty-with-comment.expected.yml
  gems/policy-parser/spec/round-trip/yaml/empty-with-comment.yml
  gems/policy-parser/spec/round-trip/yaml/empty.yml
  gems/policy-parser/spec/yaml_loader_spec.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Add CHANGELOG entry for handling YAML document/s
  CHANGELOG.md
Owners: @conjur-enterprise/r-d-developers

Don't allow parsing invalid certificates
  app/domain/authentication/authn_oidc/v2/client.rb
  app/domain/conjur/cert_utils.rb
  spec/app/domain/authentication/authn-oidc/v2/client_spec.rb
  spec/controllers/authenticate_controller_authn_k8s_spec.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Always use updated docker compose command
  ci/test
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

policy-parser: Handle explicitly declared YAML document
  gems/policy-parser/lib/conjur/policy/yaml/handler.rb
  gems/policy-parser/spec/errors/yaml/multiple-documents.yml
  gems/policy-parser/spec/round-trip/yaml/empty-document.expected.yml
  gems/policy-parser/spec/round-trip/yaml/empty-document.yml
  gems/policy-parser/spec/yaml_loader_spec.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Factor out load certificate method to CertUtils
  app/domain/authentication/authn_k8s/k8s_object_lookup.rb
  app/domain/conjur/cert_utils.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Verify k8s service account token
  CHANGELOG.md
  app/domain/authentication/authn_k8s/validate_status.rb
  spec/app/domain/authentication/authn_k8s/validate_status_spec.rb
  spec/spec_helper.rb
Owners: @conjur-enterprise/r-d-developers, @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Fix visibility based on permissions for role graph
  CHANGELOG.md
  app/controllers/roles_controller.rb
  app/models/role.rb
  cucumber/api/features/role_graph_visibility_check.feature
Owners: @conjur-enterprise/r-d-developers, @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Add keyUsage to internal certificate generation for valid CAs
  app/domain/util/open_ssl/x509/certificate.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Update post-build trigger for secrets provider
  Jenkinsfile
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Validate issuing certificate and key in k8s status API
  CHANGELOG.md
  app/domain/authentication/authn_k8s/validate_status.rb
  spec/app/domain/authentication/authn_k8s/validate_status_spec.rb
Owners: @conjur-enterprise/r-d-developers, @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

Check for invalid whitespace in bearer token
  app/domain/authentication/authn_k8s/validate_status.rb
  spec/app/domain/authentication/authn_k8s/validate_status_spec.rb
Owners: @cyberark/conjur-core-team, @conjurinc/conjur-core-team, @conjurdemos/conjur-core-team, @conjur-enterprise/conjur-core, @conjur-enterprise/community-and-integrations

.github/CODEOWNERS:

* @cyberark/conjur-core-team @conjurinc/conjur-core-team @conjurdemos/conjur-core-team @conjur-enterprise/conjur-core @conjur-enterprise/community-and-integrations

# Changes to .trivyignore require Security Architect approval
.trivyignore @cyberark/security-architects @conjurinc/security-architects @conjurdemos/security-architects  @conjur-enterprise/conjur-security

# Changes to .codeclimate.yml require Quality Architect approval
.codeclimate.yml @cyberark/quality-architects @conjurinc/quality-architects @conjurdemos/quality-architects @conjur-enterprise/conjur-quality

*.md @conjur-enterprise/r-d-developers

# Changes to SECURITY.md require Security Architect approval
SECURITY.md @cyberark/security-architects @conjurinc/security-architects @conjurdemos/security-architects @conjur-enterprise/conjur-security
