Repository cyberark/conjur, pull requests merged in 2020-08, with the labels that each got.

#1721 Get html cucumber tests results
  Jenkinsfile
  ci/test
Labels: component/jenkins

#1723 GCP authenticator solution design
  design/authenticators/authn_gcp/authn-gcp-class-diagram.png
  design/authenticators/authn_gcp/authn-gcp-flow.png
  design/authenticators/authn_gcp/authn_gcp_solution_design.md
Labels: kind/design

#1710 Add encoded optional param to authenticate request
  app/controllers/authenticate_controller.rb
  app/domain/logs.rb
  cucumber.yml
  cucumber/api/features/authenticate.feature
  cucumber/api/features/step_definitions/request_steps.rb
  cucumber/api/features/support/rest_helpers.rb
  cucumber/authenticators_azure/features/authn_azure_performance.feature
  cucumber/authenticators_azure/features/step_definitions/authn_azure_steps.rb
  cucumber/authenticators_azure/features/support/authn_azure_helper.rb
Labels: component/authenticators
